# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/CC2AED2-U-TFPR-SH/FileContentIndex/e721082e-5656-4f35-9c6f-388c8c1db94e.vsidx
.vs/CC2AED2-U-TFPR-SH/FileContentIndex/ef9b11b6-5441-41bd-a8a2-776810087dc8.vsidx
.vs/CC2AED2-U-TFPR-SH/v17/.wsuo
.vs/CC2AED2-U-TFPR-SH/v17/Browse.VC.db
.vs/CC2AED2-U-TFPR-SH/v17/DocumentLayout.json
.vs/CC2AED2-U-TFPR-SH/v17/ipch/AutoPCH/35f297e3b894dfb1/SERVIDOR.ipch
.vs/CC2AED2-U-TFPR-SH/v17/ipch/AutoPCH/a90fe191e5bcb2b8/SERVIDOR.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
